* {
    font-family: 'Outfit', sans-serif;
}

ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: black;
}

/* PRODUCT CARD */

.card-link {
    text-decoration: none;
}

.product-card {
    max-width: 230px;
    padding: 5px;
    margin-bottom: 30px;
}

.card-image-container img {
    width: 100%;
}

.card-body-container {
    padding: 10px 0;
}

.card-brand {
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: 5px;
}

.card-product-name {
    font-size: 1.2rem;
}

.card-category {
    margin-bottom: 20px;
}

.card-price {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.card-original-price {
    font-size: 1rem;
    text-decoration: line-through;
}

.card-tag {
    display: inline-block;
    background-color: #a8bba2;
    padding: 2px 20px;
    margin-right: 5px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .8rem;
}



/* FOOTER */
footer {
    background-color: rgba(170, 187, 163, 255);
    padding: 10px;
}

footer ul li {
    display: inline-block;
    margin-right: 5px;
}

/* DETAILS PAGE */

.margin-y-details-page {
    margin-top: 50px;
    margin-bottom: 80px;
}

.margin-b-details-page {
    margin-bottom: 85px;
}

.text-gray-details-page {
    color: #C3C3C3
}

.hr-details-page {
    width: 100%;
}

.green-details-page {
    color: #a8bba2;
}

.pink-details-page {
    color: #f9e6d8;
}

.green-bc-icon {
    background-color: #a8bba2;
    padding: 0px 15px 0px 15px;
}

.green-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 8px;
}

.accordion {
    margin-top: 2rem;
    width: 100%;
    max-width: 600px;
    height: 200px;
    /* fissa */
    overflow: hidden;
    position: relative;
}

.accordion .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    font-weight: 400;
    user-select: none;
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
    transition: background-color 0.2s, outline 0.2s;
}

.accordion .header:hover {
    background-color: #b6cab048;
}

.accordion .content {
    padding-top: 15px;
    font-size: 1rem;
    color: #444;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: auto;
    max-height: 100px;
    overflow-y: auto;
    transition: max-height 0.3s ease;
}

.accordion .content.closed {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

.transition-icon {
    transition: transform 0.3s ease;
}

.transition-icon.rotate {
    transform: rotate(180deg);
}

.btn-add-to-cart {
    background-color: #a8bba2;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
    background-color: #92a58c;
}

/* colors */
.color-main {
    color: #1d1d1d;
}

.color-main-subtle {
    color: #1d1d1d7e;
}

.color-accent1 {
    color: #a8bba2;
}

.color-accent1-subtle {
    color: #a8bba27e;
}

.color-accent2 {
    color: #F9E6D8;
}

.background-rose {
    background-color: #f9e6d8;
}

.background-accent1-subtle {
    background-color: #a8bba27e;
}