* {
    font-family: 'Outfit', sans-serif;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: black;
}

/* CARD */



/* FOOTER */

/* DETAILS PAGE */